parameters:
- name: subTaskKey
  type: string
  default: ''

steps:
# - script: |
#     echo $pwd
#     # tar -czvf $(TARGET)-$(ResourceProvider)-generated.tar.gz generated/$(ResourceProvider)
#     tar -czvf $(TARGET)-$(ResourceProvider)-generated.tar.gz $(Artifact)
#     az login --service-principal -u $(SERVICE_PRINCIPE_ID) -p $(SERVICE_PRINCIPE_SECRET) --tenant $(SERVICE_PRINCIPE_TENANT)
#     az storage blob upload -c depthcoverage -f $(TARGET)-$(ResourceProvider)-generated.tar.gz -n $(TARGET)/$(TARGET)-$(ResourceProvider)-generated.tar.gz --subscription $(SERVICE_PRINCIPE_SUBSCRIPTION) --account-name=depthcoverage
#   condition: always()
#   displayName: 'After $(TASK_KEY)'
- bash: |
    tar -czvf $(CodeGenerationName)-$(Build.BuildId)-$(TASK_KEY)-log.tar.gz *.log
    az login --service-principal -u $(SERVICE_PRINCIPE_ID) -p $(SERVICE_PRINCIPE_SECRET) --tenant $(SERVICE_PRINCIPE_TENANT)
    az storage blob upload -c depthcoverage -f $(CodeGenerationName)-$(Build.BuildId)-$(TASK_KEY)-log.tar.gz -n log/$(Build.BuildId)/$(CodeGenerationName)-$(Build.BuildId)-$(TASK_KEY)-log.tar.gz --subscription $(SERVICE_PRINCIPE_SUBSCRIPTION) --account-name=depthcoverage
  condition: always()
  displayName: 'upload log'
- bash: |
    npm install publish-sdkcodgen-pipeline-result
    pwd
    ls -l
    ls -l /home/vsts/work
    node /home/vsts/work/node_modules/publish-sdkcodgen-pipeline-result/dist/Logger/index.js --task=$(TASK_KEY) --status=completed --result=$(Task_Result) --logfile=$(TASK_KEY).log --pipelineLog=pipe.log
    az storage blob upload -c depthcoverage -f pipe.log -n log/$(Build.BuildId)/$(CodeGenerationName)-$(Build.BuildId)-$(TASK_KEY)-result.log --subscription $(SERVICE_PRINCIPE_SUBSCRIPTION) --account-name=depthcoverage

    if [ "$(Task_Result)" != "success" ]; then
      codePR=$(curl -X PATCH -H "Content-Type: application/json" https://$(CodegenApp_Server)/codegenerations/$(CodeGenerationName) -d '{"updateParameters": {"status": "completed"}}')
      # exit 1
    fi
  condition: always()
  displayName: 'upload pipeline result'
# - bash: |
#     codePR=$(curl -X POST -H "Content-Type: application/json" http://$(CodegenApp_Server)/depthCoverage/generatePullRequest -d '{"org":"'"$org"'", "repo":"'"$repo"'", "title":"{$(OnboardType) coverage, not merge} pull request of $(ResourceProvider)", "branch":"$(WORKBRANCH)-code", "base":"'"$base"'"}')
#   displayName: 'update code generation status'