steps:
- bash: |
    echo "https://$(PIPELINE_USER):$(PIPELINE_TOKEN)@github.com" > ~/.git-credentials
    git clone --branch depth-$(TARGET)-$(ResourceProvider) https://$(PIPELINE_USER):$(PIPELINE_TOKEN)@github.com/$(Swagger_ORG)/azure-rest-api-specs.git
    sdktarget=$(TARGET)
    repo=""
    if [ "$sdktarget" == "terraform" ]; then
      git clone --branch depth-$(TARGET)-$(ResourceProvider) https://$(PIPELINE_USER):$(PIPELINE_TOKEN)@github.com/$(TF_ORG)/terraform-provider-azurerm.git
      repo="terraform-provider-azurerm"
      cp $(Pipeline.Workspace)/s/azure-rest-api-specs/specification/$(ResourceProvider)/resource-manager/readme.terraform.md $(Pipeline.Workspace)/s/terraform-provider-azurerm/azurerm/internal/services/$(ResourceProvider)/
    fi

    if [ "$sdktarget" == "clicore" ]; then
      git clone https://$(PIPELINE_USER):$(PIPELINE_TOKEN)@github.com/$(CLI_ORG)/azure-cli
      repo="azure-cli"
      cp $(Pipeline.Workspace)/s/azure-rest-api-specs/specification/$(ResourceProvider)/resource-manager/readme.az.md $(Pipeline.Workspace)/s/azure-cli/
    fi

    if [ "$sdktarget" == "cliextension" ]; then
      git clone https://$(PIPELINE_USER):$(PIPELINE_TOKEN)@github.com/$(CLI_ORG)/azure-cli-extensions
      repo="azure-cli-extensions"
      cp $(Pipeline.Workspace)/s/azure-rest-api-specs/specification/$(ResourceProvider)/resource-manager/readme.az.md $(Pipeline.Workspace)/s/azure-cli-extensions/
    fi

    cd $(Pipeline.Workspace)/s/$repo
    tf_existed_in_remote=$(git ls-remote --heads origin depth-code-$(TARGET)-$(ResourceProvider))
      if [[ -z ${tf_existed_in_remote} ]]; then
        git checkout -b depth-code-$(TARGET)-$(ResourceProvider)
      else
        git checkout depth-code-$(TARGET)-$(ResourceProvider)
        git reset --hard origin/depth-$(TARGET)-$(ResourceProvider)
    fi
    
    git config credential.helper store; git config --global user.email "chunyu@microsoft.com";git config --global user.name "chunyu3;"
    git branch; git add -A; git commit -m "autogenerated"; git push -f origin depth-code-$(TARGET)-$(ResourceProvider);
    
    org=""
    repo=""
    base="master"
    sdk="";
    if [ "$sdktarget" == "terraform" ]; then
        org=$(TF_ORG)
        repo="terraform-provider-azurerm"
        sdk="terraform"
    else
        org=$(CLI_ORG)
        repo="azure-cli"
        base="dev"
        sdk="clicore"
    fi
    
    codePR=$(curl -X POST -H "Content-Type: application/json" http://$(CodegenApp_Server)/DepthCoverage/generateCodePR -d '{"token":"$(PIPELINE_TOKEN)", "org":"'"$org"'", "repo":"'"$repo"'", "title":"{depth coverage, not merge} pull request of $(ResourceProvider)", "branch":"depth-code-$(TARGET)-$(ResourceProvider)", "base":"'"$base"'"}')
    # echo $codePR
    echo "##vso[task.setvariable variable=CODE_PULLREQUEST]$codePR"
  displayName: "Generate Code Pull Request"